header {
  width: 100%;
  background-color: black;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 6rem;
}

header h1 {
  font-weight: 400;
  color: white;
  font-size: 2rem;
  font-weight: bold;
}
